* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  scroll-behavior: smooth;
  /* transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1); */
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

/*  Anti Aliasing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Show the scrollbar for WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 0em;
  /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Hide the thumb */
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  /* Hide the track */
}

/* Hide Leaflet zoom control */
.leaflet-control-zoom {
  display: none !important;
}

.employee-tooltip {
  background-color: #9329fc;
  color: #fff;
  padding: 2.5px 5px;
  border-radius: 100px;
  border: 0;
  /* font-weight: bold; */
  font-size: 0.75rem;
}

.office-tooltip {
  background-color: #2971fc;
  color: #fff;
  padding: 2.5px 5px;
  border-radius: 100px;
  border: 0;
  font-weight: bold;
  font-size: 0.75rem;
}

.driver-tooltip {
  background-color: #fc2929;
  color: #fff;
  padding: 2.5px 5px;
  border-radius: 100px;
  border: 0;
  font-weight: bold;
  font-size: 0.75rem;
}
