* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  scroll-behavior: smooth;
  /* transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1); */
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

/*  Anti Aliasing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Hide Leaflet zoom control */
.leaflet-control-zoom {
  display: none !important;
}

.employee-tooltip {
  background-color: #9329fc;
  color: #fff;
  padding: 2.5px 5px;
  border-radius: 100px;
  border: 0;
  /* font-weight: bold; */
  font-size: 0.75rem;
}

.office-tooltip {
  background-color: #2971fc;
  color: #fff;
  padding: 2.5px 5px;
  border-radius: 100px;
  border: 0;
  font-weight: bold;
  font-size: 0.75rem;
}

.driver-tooltip {
  background-color: #fc2929;
  color: #fff;
  padding: 2.5px 5px;
  border-radius: 100px;
  border: 0;
  font-weight: bold;
  font-size: 0.75rem;
}

/* Styles for .scroll-mod scrollbar */
.scroll-mod::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar in Chrome and Safari */
}

.scroll-mod::-webkit-scrollbar-thumb {
  background: #2997FC;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  /* Radius of the scrollbar thumb */
  border: "2px solid red";
}

.scroll-mod::-webkit-scrollbar-track {
  background: white;
  /* Background color of the scrollbar track */
  border-radius: 1000px;
  /* Radius of the scrollbar track */
}

/* Styles for .child-scroll scrollbar */
.child-scroll::-webkit-scrollbar {
  width: 7.5px;
  /* Width of the scrollbar in Chrome and Safari */
}

.child-scroll::-webkit-scrollbar-thumb {
  background: white;
  /* Color of the scrollbar thumb */
  border-radius: 500px;
  /* Radius of the scrollbar thumb */
  border: "2px solid red";
}

.child-scroll::-webkit-scrollbar-track {
  background: #2997FC;
  /* Background color of the scrollbar track */
  border-radius: 100px;
  /* Radius of the scrollbar track */
}